{% extends "base.html" %}  <!-- Подключаем базовый шаблон, чтобы страница выглядела как остальные, типа общий дизайн -->

{% block title %}Ошибка CSRF токена{% endblock %}  <!-- Это заголовок страницы, он попадёт в тег <title> в браузере -->

{% block content %}  <!-- Тут начинается основной контент, всё, что юзер увидит на странице -->
  <h1>Ошибка CSRF токена. 403</h1>  <!-- что что-то сломалось. 403 — это типа "доступ запрещён" -->
  <a href="{% url 'blog:index' %}">Вернуться на главную</a>  <!-- Ссылка на главную страницу, чтобы юзер мог уйти отсюда -->
{% endblock %}  <!-- Закрываем блок контента, всё, что внутри, будет показано -->
