{% extends "base.html" %}  <!-- Подключаем базовый шаблон -->

{% block content %}  <!-- Тут начинается всё, что будет на странице -->
  <div class="col d-flex justify-content-center">  <!-- Делаем колонку и центрируем всё -->
    <div class="card" style="width: 40rem;">  <!-- Карточка, чтобы всё было аккуратно, ширина 40rem -->
      <div class="card-header">  <!-- Заголовок карточки -->
        Вы вышли из системы!  <!-- Пишем, что юзер вышел -->
      </div>
      <div class="card-body">  <!-- карточки, тута текст и ссылки -->
        <p><a href="{% url 'login' %}">Войти снова</a></p>  <!-- Ссылка, чтобы юзер мог снова войти -->
        <p><a href="{% url 'blog:index' %}">На главную</a></p>  <!-- Ссылка на главную страницу -->
      </div>  <!-- Закрываем тело карточки -->
    </div>  <!-- Закрываем карточку -->
  </div>  <!-- Закрываем колонку -->
{% endblock %}  <!-- Закрываем блок контента -->

