{% extends "base.html" %}  <!-- Подключаем базовый шаблон, чтобы страница выглядела как остальные, с хедером и футером -->

{% load django_bootstrap5 %}  <!-- Загружаем Bootstrap, чтобы форма была красивой и стилизованной -->

{% block content %}  <!-- Тут начинается всё, что будет на странице -->
  <div class="col d-flex justify-content-center">  <!-- Делаем колонку и центрируем всё -->
    <div class="card col-4 m-3">  <!-- Карточка, col-4 — это ширина, m-3 — отступы -->
      <div class="card-header">  <!-- Заголовок карточки -->
        Поменять пароль  <!-- Пишем, что это страница для смены пароля -->
      </div>
      <div class="card-body">  
        <form method="post">  <!-- Форма для смены пароля, отправляем данные -->
          {% csrf_token %}  <!-- Токен для защиты, чтобы никто не подделал запрос -->
          {% bootstrap_form form %}  <!-- Показываем форму с полями, Bootstrap делает её вроде красивой -->
          {% bootstrap_button button_type="submit" content="Поменять пароль" %}  <!-- Кнопка для отправки формы -->
        </form>  <!-- Закрываем форму -->
      </div>  <!-- Закрываем тело карточки -->
    </div>  <!-- Закрываем карточку -->
  </div>  <!-- Закрываем колонку -->
{% endblock %}  <!-- Закрываем блок контента -->

