{% if page_obj.has_other_pages %}  <!-- Проверяем, есть ли другие страницы для пагинации -->
  <nav aria-label="Page navigation" class="my-5">  <!-- Навигация Bootstrap, my-5 - отступы -->
    <ul class="pagination justify-content-center">  <!-- Список пагинации, центрированный -->
      {% if page_obj.has_previous %}  <!-- Если есть предыдущая страница -->
        <li class="page-item"><a class="page-link" href="?page=1">Первая</a></li>  <!-- Ссылка на первую страницу -->
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">  <!-- Ссылка на предыдущую -->
            << </a>
        </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}  <!-- Цикл по всем номерам страниц -->
        {% if page_obj.number == i %}  <!-- Если это текущая страница -->
          <li class="page-item active">  <!-- Делаем её активной -->
            <span class="page-link">{{ i }}</span>  <!-- Просто показываем номер -->
          </li>
        {% else %}  <!-- Если не текущая -->
          <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>  <!-- Ссылка на страницу -->
          </li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}  <!-- Если есть следующая страница -->
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">  <!-- Ссылка на следующую -->
            >>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">  <!-- Ссылка на последнюю -->
            Последняя
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

