{% extends "base.html" %} <!-- Подключаем базовый шаблон, чтобы взять общий дизайн -->

{% load django_bootstrap5 %} <!-- Загружаем теги Bootstrap для стилизации форм и кнопок -->

{% block title %} <!-- Блок для заголовка страницы -->
{% if is_edit %} <!-- Если редактируем -->
Редактирование публикации <!-- Заголовок для редактирования -->
{% elif is_delete %} <!-- Если удаляем -->
Удаление публикации <!-- Заголовок для удаления -->
{% else %} <!-- Если ничего из этого, значит создаём -->
Добавление публикации <!-- Заголовок для создания -->
{% endif %}
{% endblock %}

{% block content %} <!-- Основной блок контента -->
<div class="col d-flex justify-content-center"> <!-- Контейнер Bootstrap: центрируем содержимое -->
  <div class="card" style="width: 40rem;"> <!-- Карточка Bootstrap с шириной 40rem -->
    <div class="card-header"> <!-- Заголовок карточки -->
      {% if is_edit %} <!-- Если редактируем -->
      Редактирование публикации
      {% elif is_delete %} <!-- Если удаляем -->
      Удаление публикации
      {% else %} <!-- Если создаём -->
      Добавление публикации
      {% endif %}
    </div>
    <div class="card-body"> <!-- Тело карточки, где форма -->
      <form method="post" enctype="multipart/form-data" 
        action="{% if is_edit %}{% url 'blog:edit_post' post.id %}{% elif is_delete %}{% url 'blog:delete_post' post.id
        %}{% else %}{% url 'blog:create_post' %}{% endif %}"> <!-- URL зависит от действия -->
        {% csrf_token %} <!-- Токен для защиты формы -->
        {% if not is_delete %} <!-- Если не удаляем -->
        {% bootstrap_form form %} <!-- Показываем форму через Bootstrap -->
        {% else %} <!-- Если удаляем -->
        <article> <!-- Показываем пост для подтверждения -->
          {% if form.instance.image %} <!-- Если есть картинка -->
          <a href="{{ form.instance.image.url }}" target="_blank"> <!-- Ссылка на картинку -->
            <img class="border-3 rounded img-fluid img-thumbnail mb-2" src="{{ form.instance.image.url }}">
            <!-- Показываем картинку с классами Bootstrap -->
          </a>
          {% endif %}
          <p>{{ form.instance.pub_date|date:"d E Y" }} | <!-- Дата в формате "день месяц год" -->
            {% if form.instance.location and form.location.is_published %} <!-- Если есть локация и она опубликована -->
            {{ form.instance.location.name }} <!-- Показываем название -->
            {% else %}
            Планета Земля <!-- По умолчанию -->
            {% endif %}<br>
          <h3>{{ form.instance.title }}</h3> <!-- Заголовок поста -->
          <p>{{ form.instance.text|linebreaksbr }}</p> <!-- Текст с переносами строк -->
        </article>
        {% endif %}
        {% bootstrap_button button_type="submit" content="Отправить" %} <!-- Кнопка отправки формы -->
      </form>
    </div>
  </div>
</div>
{% endblock %}


<!--  form.instance -->