{% extends "base.html" %}  <!-- Подключаем базовый шаблон, чтобы взять общий дизайн -->

{% block title %}  <!-- Блок для заголовка страницы -->
  Лента записей  <!-- Просто пишем название -->
{% endblock %}

{% block content %}  <!-- Основной блок контента -->
  {% for post in page_obj %}  <!-- Цикл по постам из объекта пагинации -->
    <article class="mb-5">  <!-- Каждый пост в теге article, mb-5 - отступ снизу от Bootstrap -->
      {% include "includes/post_card.html" %}  <!-- Подключаем шаблон для карточки поста -->
    </article>
  {% endfor %}
  {% include "includes/paginator.html" %}  <!-- Подключаем шаблон для пагинации -->
{% endblock %}
