{% extends "base.html" %}  <!-- Подключаем базовый шаблон, чтобы взять общий дизайн -->

{% load django_bootstrap5 %}  <!-- Загружаем теги Bootstrap для красивых форм и кнопок -->

{% block title %}  <!-- Блок для заголовка страницы -->
  Редактирование профиля  <!-- Просто пишем название -->
{% endblock %}

{% block content %}  <!-- Основной блок контента -->
  <div class="col d-flex justify-content-center">  <!-- Контейнер Bootstrap, центрируем всё -->
    <div class="card" style="width: 40rem;">  <!-- Карточка Bootstrap с шириной 40rem -->
      <div class="card-header">  <!-- Заголовок карточки -->
        Редактирование профиля - {{ request.user }}  <!-- Название и имя юзера -->
      </div>
      <div class="card-body">  <!-- Тело карточки -->
        <form method="post">  <!-- Форма с методом POST для отправки -->
          {% csrf_token %}  <!-- Токен для защиты от CSRF -->
          {% bootstrap_form form %}  <!-- Показываем форму с полями через Bootstrap -->
          {% bootstrap_button button_type="submit" content="Отправить" %}  <!-- Кнопка отправки -->
        </form>
      </div>
    </div>
  </div>
{% endblock %}

